*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 92%;
    margin: 15px ;
}
.navbar{
    float: right;
}
.navbar ul {
    list-style: none;
}
.navbar ul a {
    text-decoration: none;
    padding-left: 30px;
    color: #0f172a;
    font-size: small;
    font-weight: bold;

}
.navbar li {
    float: left;
}
.btn{
    margin-left:30px ;
    padding: 5px 18px;
    background: #0f172a;
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}


