*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 92%;
    margin: 10px;
}
.navbar{
    float: right;
}
.navbar ul {
    list-style: none;
}
.navbar ul a {
    text-decoration: none;
    padding-left: 30px;
    color: #0f172a;

}
.navbar li {
    float: left;
}
.btn{
    margin-left:30px ;
}


